//colors
$bg-color: rgba(227, 219, 209, 1);
$text-color: rgba(0, 0, 0, 1);

//breakpoints
$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

//fonts
$font-paragraphs: 'General Sans', sans-serif;
$font-headings: 'New Title', sans-serif;
// $font-base-size: 16px;

//sizes
$header-height-md: 15vmin;
$header-height-xs: 25vmin;
$menu-icon-size-md: 10vmin;
$menu-icon-size-xs: 12vmin;
$header-padding-md: 2.5vmin;
$header-padding-xs: 5vmin;
