@use 'config';

.header {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  height: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: config.$bg-color;
}
