@use 'config';

.header {
  display: flex;
  align-items: flex-start;
  padding: config.$header-padding-xs;
  height: config.$header-height-xs;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: config.$bg-color;

  @media (min-width: config.$breakpoint-md) {
    padding: config.$header-padding-md;
    height: config.$header-height-md;
  }
}
