@use 'config';

.menu {
  padding: config.$menu-padding-xs;
  height: config.$menu-height-xs;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: height 0.8s ease-out;

  @media (min-width: config.$breakpoint-md) {
    padding: config.$menu-padding-md;
    height: config.$menu-height-md;
  }

  &--open {
    height: 100vh;

    @media (min-width: config.$breakpoint-md) {
      height: config.$menu-height-md;
    }
  }

  &__icon {
    position: relative;
    background-color: config.$text-color;
    border-radius: 50%;
    height: config.$menu-icon-size-xs;
    width: config.$menu-icon-size-xs;
    z-index: 100;
    border: 1.2vmin solid config.$text-color;

    @media (min-width: config.$breakpoint-md) {
      border-width: 1vmin;
      height: config.$menu-icon-size-md;
      width: config.$menu-icon-size-md;
    }

    &--open {
      background-color: transparent;
      cursor: pointer;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
    transform: translateY(-100vh);
    background-color: config.$bg-color;

    @media (min-width: config.$breakpoint-md) {
      transform: translateX(-30vw);
      height: config.$menu-height-md;
      opacity: 0;
    }

    &--open {
      transform: translateY(0) translateX(0);
      opacity: 1;
    }
  }

  &__x {
    position: absolute;
    height: config.$menu-icon-size-xs;
    width: config.$menu-icon-size-xs;
    top: config.$menu-padding-xs;
    right: config.$menu-padding-xs;

    @media (min-width: config.$breakpoint-md) {
      display: none;
    }
  }

  &__list {
    position: relative;
    top: 20%;
    left: config.$menu-padding-xs;
    display: flex;
    flex-direction: column;
    gap: 3vmin;

    @media (min-width: config.$breakpoint-md) {
      flex-direction: row;
      left: calc(2 * config.$menu-padding-md + config.$menu-icon-size-md);
      gap: 1vmin;
    }
  }

  &__item {
    width: fit-content;
    position: relative;
    text-decoration: unset;

    @media (min-width: config.$breakpoint-md) {
    }

    &::after {
      content: '';
      position: relative;
      display: block;
      width: 100%;
      height: 0.5vmin;
      background-color: config.$text-color;
      transition: height 0.3s ease-in-out;
    }

    &:hover {
      cursor: pointer;

      &::after {
        height: 0.7vmin;
      }
    }
  }
}
