@use 'config';
@use 'heading';

.menu {
  padding: config.$header-padding-xs;
  height: config.$header-height-xs;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: config.$bg-color;
  transition: height 0.8s ease-out;

  @media (min-width: config.$breakpoint-md) {
    padding: config.$header-padding-md;
    height: config.$header-height-md;
  }

  &--open {
    height: 100vh;

    @media (min-width: config.$breakpoint-md) {
      height: config.$header-height-md;
    }
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: config.$header-padding-xs;
    height: 100%;

    @media (min-width: config.$breakpoint-md) {
      gap: config.$header-padding-md;
      align-items: center;
    }
  }

  &__icon {
    position: relative;
    background-color: black;
    border-radius: 50%;
    height: config.$menu-icon-size-xs;
    width: config.$menu-icon-size-xs;
    z-index: 100;

    &--open {
      background-color: transparent;
      border: 1.5vmin solid black;
      cursor: pointer;
    }

    @media (min-width: config.$breakpoint-md) {
      border-width: 1vmin;
      height: config.$menu-icon-size-md;
      width: config.$menu-icon-size-md;
    }
  }

  &__x {
    position: absolute;
    height: config.$menu-icon-size-xs;
    width: config.$menu-icon-size-xs;
    top: 0;
    right: 0;
    height: config.$menu-icon-size-xs;
    width: config.$menu-icon-size-xs;

    @media (min-width: config.$breakpoint-md) {
      display: none;
    }
  }

  &__list {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.4vmin;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
    transform: translateY(-100vh);
    opacity: 0;

    @media (min-width: config.$breakpoint-md) {
      flex-direction: row;
      transform: translateX(-30vw);
      opacity: 0;
    }

    &--open {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &__item {
    @extend .heading;
    letter-spacing: -0.2vmin;
    width: fit-content;
    height: auto;
    font-size: 20vmin;
    position: relative;
    top: 1vmin;
    text-decoration: none;

    @media (min-width: config.$breakpoint-md) {
      height: calc(10vmin + 0.5vmin);
      font-size: 10vmin;
    }

    &::after {
      content: '';
      position: relative;
      display: block;
      width: 100%;
      height: 0.5vmin;
      background-color: black;
      transition: height 0.3s ease-in-out;
    }

    &:hover {
      cursor: pointer;

      &::after {
        height: 0.7vmin;
      }
    }

    &__icon {
      width: 8vmin;
      height: 8vmin;
    }
  }
}
