@use 'config';

.page {
  position: relative;
  top: config.$menu-height-xs;
  padding: 0 1vmin;
  min-height: calc(100vh - #{config.$menu-height-xs});

  @media (min-width: config.$breakpoint-md) {
    top: config.$menu-height-md;
    min-height: calc(100vh - #{config.$menu-height-md});
  }
}
