@use '../../node_modules/the-new-css-reset';
@use '../../node_modules/normalize.css';

@use 'config';

@use 'about';
@use 'header';
@use 'icon';
@use 'menu';
@use 'page';
@use 'typography';
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: config.$bg-color;
  color: config.$text-color;
  font-size: 16px;
  font-weight: 500;
}

a {
  text-decoration: underline;
  color: config.$text-color;
}
